.navbar {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

button[mat-button] {
  margin-left: 8px;
}

button[mat-button].active {
  background-color: rgba(255, 255, 255, 0.1);
}
